.chat{data: {id: message.id}}
  .chat__upbox
    %p.chat__upbox__user
      = message.user.name
    %p.chat__upbox__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.chat__text
      = message.content
  = image_tag message.image.url, class: '' if message.image.present?
