.wrapper
  = render "shared/side_bar"
  .contents
    / 右枠・ヘッダー領域
    .header
      .header__group
        .header__group__name
          hogeConHeader
        %ul.header__group__member-list
          Member：
          %li.header__group__member-list__member
            hogeUser
      =link_to "", class: "header__btn" do
        Edit

    / 右枠・スクロール領域
    .chats
      .chat
        .chat__upbox
          %p.chat__upbox__user
            togano
          %p.chat__upbox__time
            2019/11/04(Mon) 11:28:58
        %p.chat__text
          dsfjaklsdjfl

      .chat
        .chat__upbox
          %p.chat__upbox__user
            hogege
          %p.chat__upbox__time
            2019/11/04(Mon) 11:28:58
        %p.chat__text
          dsfjaklsdjfl

      .chat
        .chat__upbox
          %p.chat__upbox__user
            hogege
          %p.chat__upbox__time
            2019/11/04(Mon) 11:28:58
        %p.chat__text
          dsfjaklsdjfl

    / 右枠・入力フォーム
    .form
      %form.new_message
        .input-box
          %input.input-box__text{ placeholder: 'type a message' }
          %label.input-box__image
            = fa_icon 'image'
            %input.input-box__image__file{type: 'file'}
        %input.submit-btn{type: "submit", value: "Send"}


